@CHARSET "UTF-8";

/*Globabala regler */
body {
    margin: auto;             /* Centrera sidan */
    width: 860px;
    font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
    font-size: 100%;			/*Startvärde*/
}

section, header, footer {
	outline: 1px solid red;		/* Provisorisk */
}

header{
	text-align: center;
	padding: 20px 0 0;
}

footer {
	display: block;
	margin-top: 3em;
	text-align: center;
	color: #999;
}

/* Regler för startsidan */
.hwrap > a {
	margin-right: 10px;
}

.startpage h1,
.subpage h1 /* I added this in 11.3 because it bothered me not to have the header text large. */ {
	font-size:  500%;  		/* Massiv rubrik på startsidan */
	vertical-align: 53%;
}

.startpage .logo {
	width: 235px;
	height: 198px;
}

.tagline {
	font-size: 120%; 
	padding: 0.5em;									/* Avstånd till kantlinje */
	border-top: 5px double #00af64;
	border-bottom: 5px double #00af64;
	margin: 4em 0;									/* AvstÅnd nedåt */
}

.startpage > section {					/* Var beskrivningstexten står i */
	display: inline-block;				
	/* Fast bredd vid sidan av varandra */
	width: 20%;
	margin-right: 6%;
	vertical-align: top;
}

/* This is a section that describes hedgehogs.*/ 
.startpage > section:last-of-type {
	margin-right: 0px;
}

h1 {
	font-family: 'Merienda One', cursive;
	display: inline-block;   /*Gör att width är bara så långt som texten, vilket betyder att texten står bredvid bilden */
	margin: 0px;

}

h1:first-letter {
	color: #00AF64;
}

.startpage > section > h2 {
	font-family: 'Merienda One', cursive;
	margin: 0 0 1em;
	padding: 2em 0;
	background-color: #F5F5F5;   /* Mycket jlus grå */
	text-align: center;
	box-shadow: inset 0 0 20px #007241;
	border-radius: 50%;

}   								

/* Menu link grejer */
.menu a:link,
.menu a:visited {
	text-decoration: none;
	color: #000;
}
.menu a:focus,
.Menu a:hover {
	text-decoration: underline;
	color: #A62F00;
}
.menu a:active {
	text-decoration: underline;
	color: #FF4900;
}



/* Kod till Om-Oss sidan */
.startpage > header, .subpage > header {
	text-align: center;
}

.subpage > nav {
	float: left;
	width: 20%;
	display: inline; /* IE 6 buggfix */
}

div[role="main"] {
	margin-left:25%;
}

div[role="main"] > article {
	display:block;			/* Till äldre webbläsare */
	padding-bottom: 1em; /* Sista p-elementet bidrar med 1em till. */
	margin-bottom: 2em;
	border-bottom: 3px double #00af64;
	width:100%;
	float:right; /* Floated to contain other floated content - Set a float to fix a float. */ 
}

div[role="main"] > article:last-child; {
	border-bottom: none;
	margin-bottom: 0;
}

div[role="main"] figure > img {
	width: 128px;
	height: 128px;
}

.bildcaption {
	font: italic bolder 110% sans-serif;
	font-family: inherit; /* Återställer efter shorthand ??? */
	text-align: center;
	text-transform: uppercase; /* VERSALER / CAPS */
	color: 666;
	margin-bottom:  1em; /* Samma som p till höger */
}

/* För användning på fler ställen */
.double {
	border: 1px solid #ccc;
	padding: 5px;
}


.alignleft {
	float:left;
	margin: 0 10px 15px 0;
	display: inline; /* Fixes double margin bug in IE 6 */
}

.block > p {
	margin-left: 140px;
} 

.block > p:first-of-type {
	margin-top: 0;
}

footer {
	clear: both;  /* Clears the previous float settings. Establishes a new 'top line' that will not allow any content to be posted above the line.  */
}

.subpage > footer {
	margin-top: 0;
	padding: 1.5em;
	border-top: 3px double #00AF64;
}

